[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
jupyter = "*"
cookiecutter = "*"
pandas = "*"
numpy = "*"
scipy = "*"
sklearn = "*"
statsmodels = "*"
seaborn = "*"
pymc3 = "*"
jupyterlab = "*"

[requires]
python_version = "3.8"
